venv/
.venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.db
.sqlite
instance/
.idea/
.vscode/
uploads/*
!uploads/.gitkeep
# database/*.db
# database/*.sqlite
whatsapp-engine/node_modules/
whatsapp-engine/tokens/
whatsapp-engine/*.log
