PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE user (
	id INTEGER NOT NULL, 
	username VARCHAR(100) NOT NULL, 
	email VARCHAR(150), 
	password_hash VARCHAR(200), 
	role VARCHAR(20), 
	name VARCHAR(150), 
	account_validated BOOLEAN, 
	last_login DATETIME, last_active DATETIME, subscription_plan VARCHAR(50) DEFAULT 'free', subscription_start DATETIME, subscription_end DATETIME, max_brands INTEGER DEFAULT 5, agent_registration_number VARCHAR(50), agent_bio TEXT, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email)
);
INSERT INTO user VALUES(1,'admin@m24.co.mz','admin@m24.co.mz','scrypt:32768:8:1$ycl9iqXe44kETJbY$0c0e74a7d7baca875df483b33d65dd5abfed9dbbefbf9ae9980ad4f8a1f56fdeb249fa3374140e09ca7fcbad91e2432e9afc405ae77e5cf4f687e9cbaffb9aa9','admin','Administrador m24',1,'2026-02-10 23:39:54.625349','2026-02-10 21:46:45.742429','free',NULL,NULL,5,NULL,NULL);
INSERT INTO user VALUES(2,'cliente@empresa.co.mz','cliente@empresa.co.mz','scrypt:32768:8:1$W7kkt0twKIUOMpw1$c76feed20ec091ccc88316fdfc3e32020dec36cff94f44f4888f85a0ecd72281165afcd6a4d52e35acee7cf6ad8f9065389e6f991f60add7e1e7b44e0192d5ec','client','Empresa de Teste, Lda',1,NULL,NULL,'free',NULL,NULL,5,NULL,NULL);
INSERT INTO user VALUES(3,'nachingweya@gmail.com','nachingweya@gmail.com','scrypt:32768:8:1$OvQfDTo69ULWWClI$2b9e89f81037d33149ceeec046d164243477055004249b03aa93e796419a6c914614b8e33356df287e44bff7177b8d9a800502afb3a0696031e9ad421286ae71','client','ENCUBADORA DE SOLUCOES',1,'2026-01-31 04:13:29.991306','2026-01-31 02:14:03.550353','free',NULL,NULL,5,NULL,NULL);
CREATE TABLE entity (
	id INTEGER NOT NULL, 
	name VARCHAR(200) NOT NULL, 
	nuit VARCHAR(50), 
	email VARCHAR(200), 
	phone VARCHAR(50), 
	website VARCHAR(200), 
	address VARCHAR(300), 
	city VARCHAR(100), 
	country VARCHAR(100), 
	facebook VARCHAR(200), 
	instagram VARCHAR(200), 
	x_social VARCHAR(200), 
	status VARCHAR(50), 
	PRIMARY KEY (id)
);
INSERT INTO entity VALUES(1,'Empresa de Teste, Lda','999888777','cliente@empresa.co.mz','+258 84 000 0000',NULL,'Av. Marginal, 123','Maputo','Mo├ºambique',NULL,NULL,NULL,'Verificado');
INSERT INTO entity VALUES(2,'ENCUBADORA DE SOLUCOES','999991234599','nachingweya@gmail.com','+258847981166',NULL,'Vila Olimpica 1346','Maputo','Mo├ºambique',NULL,NULL,NULL,'Verificado');
CREATE TABLE system_config (
	"key" VARCHAR(50) NOT NULL, 
	value VARCHAR(255), 
	PRIMARY KEY ("key")
);
CREATE TABLE brand (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	process_number VARCHAR(50), 
	registration_mode VARCHAR(50), 
	property_type VARCHAR(100), 
	name VARCHAR(200) NOT NULL, 
	registration_number VARCHAR(100), 
	nice_classes VARCHAR(200), 
	country VARCHAR(100), 
	status VARCHAR(50), 
	logo_path VARCHAR(300), 
	colors VARCHAR(500), 
	typography VARCHAR(200), 
	slogan VARCHAR(300), 
	owner_name VARCHAR(200), 
	owner_email VARCHAR(200), 
	owner_nuit VARCHAR(100), 
	owner_phone VARCHAR(100), 
	submission_date DATETIME, 
	last_analyzed DATETIME, 
	risk_score FLOAT, 
	risk_level VARCHAR(20), 
	admin_notes TEXT, 
	logo_hash VARCHAR(100), 
	phonetic_name VARCHAR(200), phonetic_score FLOAT DEFAULT 0.0, visual_score FLOAT DEFAULT 0.0, registered_by VARCHAR(100) DEFAULT 'Sistema m24', agent_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id), 
	UNIQUE (process_number)
);
INSERT INTO brand VALUES(1,3,'M24-2026-001','NEW_REGISTRATION','marca','#ENCUBADORADESOLUCOES',NULL,'42','Mo├ºambique','approved','1769789675.72357_OIP.PNG',NULL,NULL,'SONHAMOS, EXISTIMOS!','ENCUBADORA DE SOLUCOES','nachingweya@gmail.com','999991234599','+258847981166','2026-01-30 16:14:35.841522',NULL,0.0,'low',NULL,NULL,NULL,0.0,0.0,'Sistema m24',NULL);
INSERT INTO brand VALUES(2,3,'M24-2026-002','NEW_REGISTRATION','marca','bola verde',NULL,'32','Mo├ºambique','approved','1769830802.095224_download.png',NULL,NULL,'desporto e vida','ENCUBADORA DE SOLUCOES','nachingweya@gmail.com','999991234599','+258847981166','2026-01-31 03:40:02.248752','2026-02-10 15:09:01.359833',50.0,'medium',NULL,NULL,NULL,0.0,0.0,'Administrador m24',NULL);
INSERT INTO brand VALUES(3,3,'M24-2026-003','NEW_REGISTRATION','marca','NIKE',NULL,'44','Mo├ºambique','approved','1770295629.236336_NN.png',NULL,NULL,'desporto e vida','ENCUBADORA DE SOLUCOES','nachingweya@gmail.com','999991234599','+258847981166','2026-02-05 12:47:09.407401','2026-02-10 23:44:42.999480',50.0,'medium',NULL,NULL,NULL,0.0,0.0,'Administrador m24',NULL);
CREATE TABLE brand_note (
	id INTEGER NOT NULL, 
	brand_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	content TEXT NOT NULL, 
	timestamp DATETIME, 
	user_name VARCHAR(100), 
	PRIMARY KEY (id), 
	FOREIGN KEY(brand_id) REFERENCES brand (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
CREATE TABLE support_ticket (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	brand_id INTEGER, 
	assigned_admin_id INTEGER, 
	subject VARCHAR(200) NOT NULL, 
	status VARCHAR(50), 
	channel VARCHAR(50), 
	created_at DATETIME, 
	last_message TEXT, 
	is_unread_admin BOOLEAN, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id), 
	FOREIGN KEY(brand_id) REFERENCES brand (id), 
	FOREIGN KEY(assigned_admin_id) REFERENCES user (id)
);
INSERT INTO support_ticket VALUES(1,3,1,1,'duvidas','in_progress','chat','2026-01-30 18:22:53.960171','ghummmm',0);
INSERT INTO support_ticket VALUES(2,3,NULL,1,'insistencia','open','call','2026-01-30 18:28:17.531629','',1);
CREATE TABLE process_activity (
	id INTEGER NOT NULL, 
	brand_id INTEGER NOT NULL, 
	user_id INTEGER, 
	action VARCHAR(100), 
	description TEXT, 
	timestamp DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(brand_id) REFERENCES brand (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
INSERT INTO process_activity VALUES(1,1,3,'support_requested','Solicitou assist├¬ncia via CHAT: duvidas','2026-01-30 18:22:53.928177');
INSERT INTO process_activity VALUES(2,1,1,'status_change','Status alterado de UNDER_STUDY para APPROVED','2026-01-30 18:42:38.479954');
CREATE TABLE email_log (
	id INTEGER NOT NULL, 
	recipient VARCHAR(150) NOT NULL, 
	subject VARCHAR(200), 
	status VARCHAR(50), 
	error_message TEXT, 
	timestamp DATETIME, 
	PRIMARY KEY (id)
);
INSERT INTO email_log VALUES(1,'nachingweya@gmail.com','ΓÜá∩╕Å A├ç├âO NECESS├üRIA: Valide seu Cadastro - M24 Pro','sent',NULL,'2026-01-30 18:16:11.660048');
INSERT INTO email_log VALUES(2,'nachingweya@gmail.com','Valida├º├úo de Cadastro','error',unistr('Working outside of request context.\u000a\u000aThis typically means that you attempted to use functionality that needed\u000aan active HTTP request. Consult the documentation on testing for\u000ainformation about how to avoid this problem.'),'2026-01-31 03:07:31.411852');
INSERT INTO email_log VALUES(3,'nachingweya@gmail.com','≡ƒôç Cart├úo de Visita Digital - M24 Pro','sent',NULL,'2026-01-31 03:17:53.100708');
CREATE TABLE app_notification (id INTEGER PRIMARY KEY, user_id INTEGER NOT NULL, title VARCHAR(100) NOT NULL, message TEXT NOT NULL, type VARCHAR(50) DEFAULT 'info', is_read BOOLEAN DEFAULT 0, timestamp DATETIME DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY(user_id) REFERENCES user(id));
INSERT INTO app_notification VALUES(1,1,'Sistema m24 Ativado','O motor de notifica├º├╡es inteligentes est├í agora online.','info',0,'2026-01-30 18:54:35');
INSERT INTO app_notification VALUES(2,2,'Sistema m24 Ativado','O motor de notifica├º├╡es inteligentes est├í agora online.','info',0,'2026-01-30 18:54:35');
INSERT INTO app_notification VALUES(3,3,'Sistema m24 Ativado','O motor de notifica├º├╡es inteligentes est├í agora online.','info',0,'2026-01-30 18:54:35');
CREATE TABLE subscription_plan (
	id INTEGER NOT NULL, 
	name VARCHAR(50) NOT NULL, 
	display_name VARCHAR(100), 
	price_monthly FLOAT, 
	max_brands INTEGER, 
	features TEXT, 
	is_active BOOLEAN, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);
INSERT INTO subscription_plan VALUES(1,'free','Plano Gratuito',0.0,5,'{"brands": 5, "email_notifications": true, "whatsapp_notifications": false, "rpi_monitoring": false, "conflict_alerts": false, "pdf_reports": false, "api_access": false, "priority_support": false}',1);
INSERT INTO subscription_plan VALUES(2,'starter','Starter',2500.0,10,'{"brands": 10, "email_notifications": true, "whatsapp_notifications": true, "rpi_monitoring": true, "conflict_alerts": true, "pdf_reports": false, "api_access": false, "priority_support": false}',1);
INSERT INTO subscription_plan VALUES(3,'professional','Professional',8000.0,25,'{"brands": 25, "email_notifications": true, "whatsapp_notifications": true, "rpi_monitoring": true, "conflict_alerts": true, "pdf_reports": true, "api_access": false, "priority_support": true}',1);
CREATE TABLE rpi_monitoring (
	id INTEGER NOT NULL, 
	rpi_number VARCHAR(20), 
	publication_date DATE, 
	processed BOOLEAN, 
	total_new_marks INTEGER, 
	conflicts_detected INTEGER, 
	data_file VARCHAR(255), 
	created_at DATETIME, 
	PRIMARY KEY (id)
);
CREATE TABLE payment (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	plan_name VARCHAR(50), 
	amount FLOAT NOT NULL, 
	currency VARCHAR(3), 
	payment_method VARCHAR(50), 
	phone_number VARCHAR(20), 
	mpesa_transaction_id VARCHAR(100), 
	mpesa_conversation_id VARCHAR(100), 
	reference VARCHAR(100), 
	status VARCHAR(50), 
	response_code VARCHAR(50), 
	response_message TEXT, 
	created_at DATETIME, 
	completed_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id), 
	UNIQUE (reference)
);
CREATE TABLE brand_conflict (
	id INTEGER NOT NULL, 
	brand_id INTEGER, 
	rpi_id INTEGER, 
	conflicting_mark_name VARCHAR(200), 
	conflicting_mark_number VARCHAR(50), 
	similarity_score FLOAT, 
	conflict_type VARCHAR(50), 
	status VARCHAR(50), 
	notified BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(brand_id) REFERENCES brand (id), 
	FOREIGN KEY(rpi_id) REFERENCES rpi_monitoring (id)
);
CREATE TABLE ipi_record (
	id INTEGER NOT NULL, 
	process_number VARCHAR(50), 
	record_type VARCHAR(50), 
	status VARCHAR(50), 
	brand_name VARCHAR(300), 
	applicant_name VARCHAR(300), 
	nice_class VARCHAR(50), 
	bulletin_number VARCHAR(20), 
	publication_date DATE, 
	opposition_deadline DATE, 
	image_path VARCHAR(300), 
	imported_at DATETIME, 
	PRIMARY KEY (id)
);
INSERT INTO ipi_record VALUES(1,'46551/2022','marca','concessao','Mysolgrid','Engie Energy Access Mo├ºambique','39','BPI_163','2022-12-05',NULL,NULL,'2026-02-01 08:08:19.787434');
INSERT INTO ipi_record VALUES(2,'46552/2022','marca','concessao','Mysolgrid','Engie Energy Access Mo├ºambique','40','BPI_163','2022-12-05',NULL,NULL,'2026-02-01 08:08:19.788441');
INSERT INTO ipi_record VALUES(3,'4754541','marca','concessao','Utec','TRANSCOM - Sociedade de Forma├º├úo','','BPI_170','2023-03-21',NULL,NULL,'2026-02-01 08:08:19.788441');
CREATE TABLE nice_class (
	id INTEGER NOT NULL, 
	number INTEGER NOT NULL, 
	title TEXT NOT NULL, 
	description TEXT, 
	includes TEXT, 
	excludes TEXT, 
	type VARCHAR(50), 
	PRIMARY KEY (id), 
	UNIQUE (number)
);
INSERT INTO nice_class VALUES(2,2,'Tintas, vernizes, lacas',' conservantes contra a ferrugem e contra a deteriora├º├úo da madeira',' corantes, tintas',' resinas naturais no estado bruto',' metais em folhas e em p├│ para uso na pintura, decora├º├úo, impress├úo e arte');
INSERT INTO nice_class VALUES(3,3,'Prepara├º├╡es cosm├⌐ticas e de higiene pessoal n├úo medicinais',' dent├¡fricos n├úo medicinais',' perfumaria, ├│leos essenciais',' prepara├º├╡es para branqueamento e outras subst├óncias para uso em lavandaria',' prepara├º├╡es para limpar, polir, desengordurar e raspar');
CREATE TABLE bpi_applicant (
	id INTEGER NOT NULL, 
	req_id VARCHAR(50), 
	name VARCHAR(255) NOT NULL, 
	suffix VARCHAR(50), 
	category VARCHAR(100), 
	country VARCHAR(100), 
	detected_year VARCHAR(10), 
	page INTEGER, 
	status VARCHAR(50), 
	brand_name VARCHAR(200), 
	filing_date VARCHAR(50), 
	publication_date_bpi VARCHAR(50), 
	nice_class VARCHAR(50), 
	observations TEXT, 
	next_action VARCHAR(200), 
	deadline VARCHAR(50), 
	alteration_type VARCHAR(100), 
	alteration_details TEXT, 
	opposition_deadline VARCHAR(50), 
	renewal_date VARCHAR(50), 
	next_renewal_date VARCHAR(50), 
	appeal_deadline VARCHAR(50), 
	refusal_reason TEXT, 
	renunciation_date VARCHAR(50), 
	final_refusal_date VARCHAR(50), 
	expiry_date VARCHAR(50), 
	renewal_deadline VARCHAR(50), 
	triple_fee VARCHAR(20), 
	definite_expiry_date VARCHAR(50), 
	grant_date VARCHAR(50), 
	nationality VARCHAR(100), 
	full_address TEXT, 
	total_processes INTEGER, 
	PRIMARY KEY (id), 
	UNIQUE (req_id)
);
INSERT INTO bpi_applicant VALUES(1,'REQ001','Engie Energy Access Mo├ºambique',' Lda','Empresa','Empresa','2023',NULL,'STATUS_01',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO bpi_applicant VALUES(2,'REQ002','TRANSCOM - Sociedade de Forma├º├úo',' Consultoria e Auditoria em Transportes e Comunica├º├╡es','Empresa',' SA','2023',NULL,'STATUS_01',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO bpi_applicant VALUES(3,'REQ003','Neyson''s Empire',' Lda','Empresa','Empresa','2023',NULL,'STATUS_01',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE brand_log (
	id INTEGER NOT NULL, 
	brand_id INTEGER NOT NULL, 
	bpi_id INTEGER, 
	applicant_record_id INTEGER, 
	action_type VARCHAR(50), 
	description TEXT, 
	bulletin_number VARCHAR(20), 
	event_date DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(brand_id) REFERENCES brand (id), 
	FOREIGN KEY(bpi_id) REFERENCES ipi_record (id), 
	FOREIGN KEY(applicant_record_id) REFERENCES bpi_applicant (id)
);
CREATE TABLE alert (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	brand_id INTEGER, 
	type VARCHAR(20), 
	title VARCHAR(200), 
	message TEXT, 
	is_read BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id), 
	FOREIGN KEY(brand_id) REFERENCES brand (id)
);
INSERT INTO alert VALUES(1,1,NULL,'CRITICAL','Oposi├º├úo Detectada: MYSOLGRID','Uma nova publica├º├úo no BPI 170 conflita diretamente com a marca protegida MYSOLGRID. Prazo legal: 60 dias.',0,'2026-02-01 17:20:15.481920');
INSERT INTO alert VALUES(2,1,NULL,'MEDIUM','Renova├º├úo Pendente: MD Consultores','A marca MD Consultores entrar├í em per├¡odo de renova├º├úo em 30 dias. Preparar documenta├º├úo.',0,'2026-02-01 17:20:15.481920');
INSERT INTO alert VALUES(3,1,NULL,'INFO','Novo Requerente BPI','Sistema detectou 15 novos requerentes no setor de Energia em Mo├ºambique.',0,'2026-02-01 17:20:15.481920');
CREATE TABLE audit_log (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	action VARCHAR(100), 
	resource VARCHAR(100), 
	resource_id VARCHAR(50), 
	details TEXT, 
	ip_address VARCHAR(50), 
	timestamp DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
INSERT INTO audit_log VALUES(1,1,'SCAN_LIVE_REAL','BRAND','CARTRAK','Scan live realizado: CARTRAK','127.0.0.1','2026-02-05 13:24:55.244673');
INSERT INTO audit_log VALUES(2,1,'SCAN_LIVE_REAL','BRAND','ELITI','Scan live realizado: ELITI','127.0.0.1','2026-02-05 13:33:03.352828');
INSERT INTO audit_log VALUES(3,1,'SCAN_LIVE_REAL','BRAND','CHOCOLATA','Scan live realizado: CHOCOLATA','127.0.0.1','2026-02-05 13:33:24.978027');
CREATE TABLE task (
	id INTEGER NOT NULL, 
	brand_id INTEGER, 
	assigned_to INTEGER NOT NULL, 
	title VARCHAR(200), 
	description TEXT, 
	deadline DATETIME, 
	status VARCHAR(20), 
	priority VARCHAR(20), 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(brand_id) REFERENCES brand (id), 
	FOREIGN KEY(assigned_to) REFERENCES user (id)
);
CREATE TABLE brand_document (
	id INTEGER NOT NULL, 
	brand_id INTEGER NOT NULL, 
	title VARCHAR(200), 
	doc_type VARCHAR(50), 
	file_path VARCHAR(300), 
	uploaded_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(brand_id) REFERENCES brand (id)
);
INSERT INTO brand_document VALUES(1,1,'Certificado de Registro #8849','certificado','#','2026-02-01 17:20:15.491436');
INSERT INTO brand_document VALUES(2,1,'Despacho de Concess├úo BPI 165','despacho','#','2026-02-01 17:20:15.491436');
CREATE INDEX ix_ipi_record_process_number ON ipi_record (process_number);
COMMIT;
